.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px;
    text-transform: uppercase;
}

.clear {
    padding: 10px;
    border: none;
    background: none;
    outline: none;
}
