.app.light {
  --bg-color: #EEEEEE;
  --inverted-bg-color: #222831;
  
  --primary-color: #00ADB5;
  --secondary-color: #112D4E;

  --inverted-primary-color: #EEEEEE;
  --inverted-secondary-color: #04ff04;
}